            {%- if site.linkedin_username -%}
            <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" title="LinkedIn" aria-label="LinkedIn"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
            {% endif %}
            {%- if site.scholar_userid -%}
            <a href="https://scholar.google.com/citations?user={{ site.scholar_userid }}" title="Google Scholar" aria-label="Google Scholar"><i class="ai ai-google-scholar" aria-hidden="true"></i></a>
            {% endif %}
            {%- if site.github_username -%}
            <a href="https://github.com/{{ site.github_username }}" title="GitHub" aria-label="GitHub"><i class="fab fa-github" aria-hidden="true"></i></a>
            {% endif %}
